* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

:root {
  --4-size: 4px;
  --8-size: 8px;
  --12-size: 12px;
  --16-size: 16px;
  --20-size: 20px;
  --24-size: 24px;
  --32-size: 32px;
  --accent-color: #2B9A66;
  --secondary-accent-color: #1a603f;
  --text-accent-color: #e5e5e5;
  --overlay-bg-color: rgba(0, 0, 0, 0.75)
}

html[data-theme="dark"] {
  --primary-background: #000000;
  --primary-text-color: #ffffff;
}

html[data-theme="light"] {
  --primary-background: #ffffff;
  --primary-text-color: #000000;
}

